h1 {
	color: chartreuse;
}

h2 {
	color: #3eb82b;
	background: purple;
}

h3 {
	color: darkblue;
}

section {
	background: rgb(135, 132, 132);
}

.blue {
	color: blue;
}

#MA {
	background: pink;
}

p{
	color:blueviolet;
}

a {
	color: green; 
}

section a {
	color: orange; 
}

.my-article p {
	background: black;
	color: white;
}