h1 {
	color: chartreuse;
}

h2 {
	color: #3eb82b;
	background: purple;
}


section {
	background: rgb(135, 132, 132);
}

.blue {
	color: blue;
}

#MA {
	background: pink;
}

p{
	color:blueviolet;
}

a {
	color: inherit; 
}

.my-article {
	color:#652354;
}
.my-article p {
	background: black;
	color: white;
}

.about{
	color: #745845;
}

